header {
  height: auto;
  margin: 0 auto;
  padding: 0;
  background-color: rgb(102, 0, 185);
  color: white;
  display: block;
  background-image: none;
  font-size: 20px;
  width: 100%;
}
.nav {
  padding: 0 24px;
  display: flex;
}
.links {
  -webkit-box-flex: 0;
  flex: none;
  display: inline-block;
}
.navul {
  margin-left: 8px;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  width: 100%;
  height: 100px;
  outline: 0;
  padding: 0;
  outline-color: currentcolor;
  -moz-padding-start: 0;
  list-style: none;
  list-style-image: none;
  margin-top: 0;
}
.navli {
  margin-left: 30px;
  margin-right: 30px;
  display: inline-block;
  cursor: pointer;
  position: relative;
  color: white;
}
.navlia {
  color: rgba(255, 255, 255, 0.76);
  text-decoration-color: currentcolor;
  text-decoration: none;
  padding: 0;
  display: inline-block;
  font-weight: 700;
  line-height: 60px;
  min-width: 44px;
}
.navlia:hover {
  text-decoration: none;
}
#navlia:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 1px;
  display: inline-block;
  vertical-align: middle;
  transition-duration: 0.3s;
  transition-property: transform;
}
.active {
  color: #63d5f8;
}
a {
  background-color: transparent;
}
.body {
  font-size: calc(12px + 4 * (100vw - 1280px) / 640);
}
.formsection {
  display: table;
  width: 100%;
  position: relative;
  padding: 0;
}
.formbg {
  width: 100%;
  height: 320px;
  position: absolute;
  left: 0px;
  right: 0px;
}
.formbg::before {
  background-color: rgba(2, 2, 2, 0);
  background: rgba(0, 0, 0, 0)
    url("https://images7.alphacoders.com/101/1018206.jpg") no-repeat scroll
    center center / cover;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border-bottom-left-radius: 48px;
}
.formbgfh {
  width: 100%;
  height: 320px;
  position: absolute;
  left: 0px;
  right: 0px;
}
.formbgfh::before {
  background-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0)
    url("https://i.pinimg.com/originals/30/3a/88/303a882d866614acdfd60da2e6ebed48.jpg")
    no-repeat scroll center center / cover;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border-bottom-left-radius: 48px;
}
.formbghh {
  width: 100%;
  height: 320px;
  position: absolute;
  left: 0px;
  right: 0px;
}
.formbghh::before {
  background-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0)
    url("https://cdn.wallpapersafari.com/7/64/8EoGTQ.jpg") no-repeat scroll
    center center / cover;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border-bottom-left-radius: 48px;
}
.formbgf {
  width: 100%;
  height: 320px;
  position: absolute;
  left: 0px;
  right: 0px;
}
.formbgf::before {
  background-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0) url("https://i.imgur.com/ozV6Ifr.jpg") no-repeat
    scroll center center / cover;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border-bottom-left-radius: 48px;
}
.formbgcar {
  width: 100%;
  height: 320px;
  position: absolute;
  left: 0px;
  right: 0px;
}
.formbgcar::before {
  background-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0)
    url("https://hdqwalls.com/wallpapers/jeep-wrangler-offroading-4k.jpg")
    no-repeat scroll center center / cover;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border-bottom-left-radius: 48px;
}
.formbgbook {
  width: 100%;
  height: 320px;
  position: absolute;
  left: 0px;
  right: 0px;
}
.formbgbook::before {
  background-color: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0)
    url("https://wallpapersdsc.net/wp-content/uploads/2016/10/Sunset-HD.jpg")
    no-repeat scroll center center / cover;
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border-bottom-left-radius: 48px;
}
.formhead {
  display: table-cell;
  vertical-align: top;
  position: relative;
}
.formcontent {
  max-width: 1124px;
  padding-top: 24px;
  padding: 3% 0;
  height: auto;
  width: 100%;
  backface-visibility: hidden;
  margin: 0 auto;
  min-width: 580px;
  text-align: center;
}
.formessage {
  color: white;
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  margin-top: 50px;
}
.formessage h1 {
  line-height: 1.3;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 4px;
  overflow: hidden;
  animation: fadein 1s;
  text-transform: uppercase;
  font-size: 24px;
}
.banner2 {
  font-size: 20px;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  animation: fadein 1s;
}
.formself {
  width: 100%;
  position: relative;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  -moz-box-align: center;
  align-items: center;
  display: flex;
  margin-top: 100px;
}
.formfinal {
  width: 100%;
}
.forminfo {
  animation: fadein 0.3s;
  width: 100%;
  min-width: 580px;
  margin: 0;
  position: relative;
}
.actualform {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 3px;
  background-color: rgb(0, 0, 0, 0.2);
  padding: 32px 48px 48px;
  width: 100%;
  position: relative;
  border-radius: 16px;
  margin-top: -16px;
}
.fsearchbox {
  text-align: left;
  clear: both;
  background-color: transparent;
  background-image: none;
  background: transparent;
  padding: 0;
  max-height: none;
  width: 100%;
  backface-visibility: hidden;
}
.fsrchbox1 {
  position: relative;
}
.ficonbox {
  border-color: rgb(0, 0, 0);
  box-shadow: none;
  padding: 0;
  height: 66px;
  border-radius: 8px;
  border: 1px solid;
  font-size: 16px;
  min-width: 490px;
  margin: 0 0 12px;
  background-color: rgb(7, 7, 7);
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  width: 100%;
}
.ficonbox1 {
  width: 100%;
  padding: 0 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ibox {
  width: calc(100% - 60px);
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
}
.sboxtext {
  font-size: 18px;
  color: white;
  background-color: black;
  outline-color: rgb(0, 66, 249);
  border-color: currentcolor;
  width: 100%;
  line-height: 1.25;
  font-weight: 400;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.suggestions {
  border-top: 2px solid #999;
}
.suggestions > div {
  padding: 15px;
  font-size: 20px;
  color: #fff;
  border-top: 1px solid #666;
  cursor: pointer;
}
.suggestions > div:hover {
  background-color: #999;
}
.carlabel {
  font-size: 15px;
  font-weight: 600;
  color: black;
}
.fhlabel {
  font-size: 15px;
  font-weight: 600;
  color: white;
}
.iconcheckin {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-color: rgb(65, 76, 80);
  box-shadow: none;
  width: 25%;
  margin-bottom: 0;
  padding: 0;
  height: 66px;
  border-radius: 8px;
  border: 1px solid;
  font-size: 16px;
  margin: 0 0 12px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}
.sboxdesc {
  font-size: 16px;
  width: auto;
  padding: 5px 0;
}
.sboxdesc_title {
  font-weight: 400;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sboxdesc_desc {
  font-size: 14px;
  color: rgb(255, 255, 255);
  line-height: 1.25;
}
.iconcheckout {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-color: rgb(65, 76, 80);
  box-shadow: none;
  width: 25%;
  margin-bottom: 0;
  padding: 0;
  height: 66px;
  border-radius: 8px;
  border: 1px solid;
  font-size: 16px;
  margin: 0 0 12px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}
.iconcheckout::before {
  left: -5px;
  background-color: rgb(0, 0, 0);
  background-image: none;
  position: absolute;
  top: 0;
  width: 5px;
  height: 100%;
  background: black;
  content: "";
}
.iconcheckout::after {
  left: 0;
  border-right-color: rgb(76, 89, 94);
  border-right: 1px solid #ccc;
  position: absolute;
  top: 10px;
  bottom: 10px;
  content: "";
}
.iconocc {
  margin-left: 12px;
  margin-right: 0;
  border-color: rgb(65, 76, 80);
  box-shadow: none;
  width: calc(50% - 12px);
  padding: 0;
  height: 66px;
  border-radius: 8px;
  border: 1px solid;
  font-size: 16px;
  margin-bottom: 0;
  margin: 0 0 12px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
}
.sboxdesc_child {
  right: 24px;
  top: 52%;
  position: absolute;
  transform: translateY(-50%);
}
.popupmenu {
  top: calc((100% - 5px) / 2);
  width: 100%;
  transition: left 0.3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 10px 0px;
  z-index: 2;
  position: absolute;
  display: inline-block;
}
.popupmenu::before {
  margin-left: 24px;
  transition: margin-left 0.3s ease-out;
  border-bottom-color: rgb(44, 53, 58);
  content: "";
  border-left-color: transparent;
  border-right-color: transparent;
  display: block;
  width: 0;
  height: 0;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid;
}
.menucontent {
  width: 100%;
  background-color: rgb(0, 0, 0);
  transition: width 0.3s ease-out, height 0.3s ease-out,
    max-height 0.3s ease-out;
}
.popupul {
  margin-bottom: 0;
  user-select: none;
}
.popupli {
  list-style-image: none;
  list-style: none;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  padding: 10px 12px;
  font-weight: 400;
  white-space: nowrap;
  letter-spacing: normal;
  cursor: pointer;
}
.popupli::before {
  display: table;
  content: " ";
  clear: both;
}
.popupdesc {
  float: right;
  max-width: 208px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.descno {
  color: rgb(128, 255, 255);
  color: rgb(128, 255, 255);
}
.descprop {
  color: rgb(255, 255, 255);
}
.popupicon {
  float: left;
  margin-right: 5px;
  color: rgb(255, 255, 255);
  width: 20px;
}
.popuptext {
  color: rgb(255, 255, 255);
  padding: 8px 0;
  white-space: pre-wrap;
}
.popuptext1 {
  color: rgb(255, 255, 255);
  display: inline-block;
  max-width: 500px;
}
.popupli::after {
  display: table;
  content: " ";
  clear: both;
}
#schftrul:hover {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#schftrul li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
}
.searchbutton {
  margin: 0px;
}
.fbutton {
  border-color: currentcolor;
  background-color: rgb(0, 74, 255);
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
  position: relative;
  border: medium none;
  padding: 0px;
  border-radius: 8px;
  user-select: none;
  transition: all 0.15s ease-in-out 0s;
  width: 490px;
  height: 64px;
}
.fbutton:hover {
  border-color: rgb(0, 58, 240);
  color: rgb(255, 255, 255);
  background-color: #0000ff;
  transition: all 0.15s ease-in-out 0s;
  cursor: pointer;
}
.fbuttontext {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}
.search {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}
.explore {
  color: white;
  margin-top: 48px;
  margin-bottom: 48px;
  clear: both;
  margin: 0 auto;
}
.explore::before {
  content: " ";
  display: table;
}
.explore::after {
  clear: both;
  content: " ";
  display: table;
}
.exphead {
  margin-bottom: 24px;
  -moz-box-pack: center;
  justify-content: center;
  display: flex;
}
.exptext {
  font-size: 28px;
  line-height: 30px;
  font-weight: 500;
  margin: 8px 0px;
}
.expimg {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  -moz-box-pack: center;
  justify-content: center;
  margin: -16px;
  width: calc(100% + 32px);
}
.eximg1 {
  padding: 16px;
  flex-basis: 25%;
  -moz-box-flex: 0;
  flex-grow: 0;
  max-width: 25%;
  box-sizing: border-box;
  margin: 0px;
}
.expa {
  background-color: transparent;
  text-decoration-color: currentcolor;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.expa:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 2px;
  color: rgb(184, 255, 255);
  cursor: pointer;
  text-decoration-color: currentcolor;
  text-decoration: none;
}
.expa a {
  color: rgb(128, 255, 255);
}
.eximgblock {
  box-shadow: none;
  background-color: rgb(0, 0, 0);
  border-color: rgb(65, 76, 80);
  padding: 0px;
  position: relative;
  border-radius: 0px;
  border: 1px solid rgb(221, 223, 226);
}
.exdesc {
  margin: 8px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.desc1 {
  color: white;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.desc2 {
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 4px;
}
.feature {
  color: white;
  margin-top: 48px;
  margin-bottom: 48px;
  width: 100%;
  -moz-box-pack: center;
  justify-content: center;
  display: flex;
}
.ftblock {
  width: 1100px;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  display: flex;
}
.fthead {
  margin-bottom: 24px;
}
.ftext {
  font-size: 28px;
  line-height: 30px;
  font-weight: 500;
  margin: 8px 0px;
}
.ftimg {
  margin-top: 8px;
}
.ftimgblock {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: -6px;
  width: calc(100% + 12px);
}
.ftimgpart {
  padding: 6px;
  flex-basis: 25%;
  -moz-box-flex: 0;
  flex-grow: 0;
  max-width: 25%;
  box-sizing: border-box;
  margin: 0px;
}
.fta {
  color: rgb(128, 255, 255);
  background-color: transparent;
  text-decoration-color: currentcolor;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
.fta:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px 2px;
  color: rgb(184, 255, 255);
  cursor: pointer;
  text-decoration-color: currentcolor;
  text-decoration: none;
  outline-color: currentcolor;
  outline: 0;
}
.ftablock {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: -2px;
  width: calc(100% + 4px);
}
.ftaimgbk1 {
  padding: 2px;
  box-sizing: border-box;
  margin: 0px;
  flex-basis: 100%;
  -moz-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
}
.ftaimgbk2 {
  position: relative;
}
.ftaimg {
  font-family: "object-fit:cover";
  object-fit: cover;
  border-color: currentcolor;
  vertical-align: middle;
  border: 0;
}
.ftadesc {
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}
.ftadesc2 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: -2px;
  width: calc(100% + 4px);
  color: #6497b1;
}
.ftadescicon {
  padding: 2px;
  box-sizing: border-box;
  margin: 0px;
}
.ftadescplace {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}
.ftadesc3 {
  color: white;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}
.ftadesc4 {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: -2px;
  width: calc(100% + 4px);
}
.ftadescprice {
  padding: 2px;
  box-sizing: border-box;
  margin: 0px;
}
.ftadesc4text {
  color: rgb(255, 78, 78);
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}
.topdes {
  width: auto;
  padding: 0 14%;
  margin: 64px auto;
}
.topdeshead {
  color: white;
  font-size: 28px;
  line-height: 30px;
  font-weight: 500;
  padding-bottom: 8px;
  display: block;
  text-align: center;
}
.tdblock {
  width: 105%;
  position: relative;
  -moz-box-align: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  visibility: visible;
}
.tdblockdem {
  padding: 0px;
  width: 10000000px;
  position: relative;
  left: 0px;
  flex: 0 0 auto;
  display: flex;
  overflow: hidden;
}
.tdpart {
  left: 0px;
  display: flex;
  position: relative;
  width: 1014px;
  align-content: flex-start;
  transition-property: transform;
  transition-duration: 300ms;
  transform: translate(0px) translateZ(0px);
}
.tdpart1 {
  -moz-box-align: stretch;
  align-items: stretch;
  display: flex;
}
.tdimgbk {
  padding-right: 0px;
  padding-left: 0px;
  width: 169px;
  -moz-box-align: stretch;
  align-items: stretch;
  display: flex;
}

.tda {
  color: rgb(128, 255, 255);
  background-color: transparent;
  text-decoration-color: currentcolor;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-right: 0px;
  margin-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-block;
}
.tda:hover {
  color: rgb(184, 255, 255);
  text-decoration-color: currentcolor;
  text-decoration: none;
  outline-width: 0px;
  cursor: pointer;
}
.tdimg {
  border-color: rgb(65, 76, 80);
  width: 124px;
  height: 124px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.tdimg:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 9px 2px;
  transform: scale(1.1);
}
.tdesc {
  color: white;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  max-height: 34px;
  text-align: center;
  padding-top: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}
.tdesc1 {
  color: white;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  padding-top: 4px;
  display: block;
  text-align: center;
}
.video {
  margin: 15px 500px;
}
.videohead {
  -moz-box-pack: center;
  justify-content: center;
  display: flex;
}
.videoh {
  text-align: center;
  font-size: 28px;
  line-height: 30px;
  font-weight: 600;
  margin-top: 90px;
}
footer {
  padding: 0;
  background-color: #333333;
  display: block;
}
.section {
  padding: 50px 0;
  overflow: hidden;
  display: block;
  background-color: #333333;
  height: 600px;
}
.footerlinks {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 1132px;
}
.fsection {
  width: 24%;
  vertical-align: top;
  display: inline-block;
}
.fhead {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.1;
  color: white;
}
.ful {
  color: white;
  margin: 0;
}
.flia {
  color: white;
  text-decoration-color: currentcolor;
  text-decoration: none;
  cursor: pointer;
}
*,
::before,
::after {
  box-sizing: border-box;
}
body {
  font-family: mallory, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.42857;
  color: white;
  letter-spacing: 0;
  min-height: 100%;
  min-width: 980px;
  overflow-x: auto;
  overflow-y: scroll;
  margin: 0;
  height: 100%;
  padding: 0;
  border-color: #c3b194;
  background-color: black;
}
body .explore {
  width: 1100px;
  padding: 0;
}
button {
  cursor: pointer;
  font: inherit;
  margin: 0;
  text-transform: none;
  overflow: visible;
  letter-spacing: inherit;
}
input {
  font: inherit;
  letter-spacing: inherit;
  font-family: mallory, Helvetica Neue, Helvetica, Arial, sans-serif;
}
img {
  border-color: currentcolor;
  vertical-align: middle;
  border: 0;
}
